<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>future of real estate</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <header>
        <h1>future of real estate</h1>
    </header>
    <br>
    <nav>
        <a href="/buy.html">Buy</a>
        <a href="/sell.html">Sell</a>
        <a href="/loggin.html">Login or Sign Up</a>
    </nav>

    <div id="search-bar">
        <input type="text" id="search-input" placeholder="Search...">
        <button id="search-button">Search</button>
    </div>
    
</body>
</html>
