{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                <a class="nav-item nav-link" id="home" href="/website/templates/home.html">Home</a>
                <a class="nav-item nav-link" id="login" href="/website/templates/login.html">Login</a>
                <a class="nav-item nav-link" id="signUp" href="/website/templates/sign-up.html">Sign Up</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <!-- Your content goes here -->
    </div>

    <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <!-- Carousel items go here -->
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

    <!-- Rest of your content -->

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha384-o3p6V/nE9CSB9U9O2pCDg6B0PDIEN2ZPpZSZw1yObmdAQP8AU90ndlnZt7UsoD8r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
            integrity="sha384-wQ/MSqVdK6L8uP1tLd4zrWmiN51yeCL5ORvhlz6AiW5wWHLsBPUhJqHD4M5Hi5S"
            crossorigin="anonymous"></script>
    <script>
        // JavaScript to trigger automatic play after 0.6 seconds
        $(document).ready(function () {
            setTimeout(function () {
                $('#demo').carousel({
                    interval: 1000 // Adjust the interval as needed (1000 milliseconds = 1 second)
                });
            }, 600);
        });
    </script>
</body>
{% endblock %}
