{% extends 'base.html' %}

{% block title %}Property Sell{% endblock %}

{% block content %}
    <body>
        <div class="container mt-5 bg-secondary">
            <h2 class="text-center">Property Upload</h2>

            <form method="POST" action="/sell" enctype="multipart/form-data" id="sellForm">
                <div class="form-group">
                    <label for="propertyTitle" style="font-weight: bold; color: white;">Property Title</label>
                    <input type="text" class="form-control" id="propertyTitle" name="propertyTitle" />
                </div>
                <div class="form-group">
                    <label for="numBedrooms" style="font-weight: bold; color: white;">Number of Bedrooms</label>
                    <input type="number" class="form-control" id="numBedrooms" name="numBedrooms" />
                </div>
                <div class="form-group">
                    <label for="propertyLocation" style="font-weight: bold; color: white;">Property Location</label>
                    <input type="text" class="form-control" id="propertyLocation" name="propertyLocation" />
                </div>
                <div class="form-group">
                    <label for="price" style="font-weight: bold; color: white;">Price</label>
                    <input type="text" class="form-control" id="price" name="price" />
                </div>
                <div class="form-group">
                    <label for="propertyVideo" style="font-weight: bold; color: white;">Property Video (max 5 minutes)</label>
                    <input type="file" class="form-control" id="propertyVideo" name="propertyVideo" accept="video/*" />
                </div>
                <button type="submit" class="btn btn-primary" onclick="submitForm()">Submit</button>
            </form>
        </div>

        <script>
            function submitForm() {
                var propertyTitle = document.getElementById("propertyTitle").value;
                var numBedrooms = document.getElementById("numBedrooms").value;
                var propertyLocation = document.getElementById("propertyLocation").value;

                // Perform any additional logic or validation here

                // Display the values (you may want to send them to the server instead)
                console.log(
                    "\nProperty Title: " + propertyTitle +
                    "\nNumber of Bedrooms: " + numBedrooms +
                    "\nProperty Location: " + propertyLocation);

                document.getElementById('sellForm').submit();
            }
        </script>
    </body>
{% endblock %}
